@import "./../../styles/variables.sass";
@import "../../styles/fonts.sass";

$dark: rgb(29, 29, 29);
$light: #fff;
$primary: rgb(162, 162, 246);
$bg: rgb(244, 244, 255);

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 60px;

.header {
  background: $dark;
  width: 100%;
  height: $headerHeight;
  padding: 0 3rem;
  @include breakpoint($point: 3) {
    padding: 0 1.5rem;
  }
  transition: 0.3s ease all;

  &__content {
    overflow: hidden;
    color: $light;
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;

    &__logo {
      font-size: 2rem;
      font-weight: bold;
      text-decoration: none;
      color: $light;
      width: 100px;
      z-index: 10;
    }

    &__nav {
      top: 0;
      right: 100%;
      bottom: 0;
      width: auto;
      height: 100%;
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      backdrop-filter: blur(2px);
      transition: 0.3s ease transform;
      background: transparent;
      transform: none;
      @include breakpoint($point: 3) {
        transform: translate(0);
        flex-direction: column;
        background: rgba($dark, 0.9);
        width: 100%;
        height: 100vh;
        position: fixed;
      }
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        align-items: center;
        margin-right: calc(0.5rem + #{$spacing-md});
        @include breakpoint($point: 3) {
          flex-direction: column;
          margin-bottom: $spacing-lg;
        }
        li {
          &:not(:last-child) {
            margin-bottom: 0;
            margin-right: $spacing-md;
            @include breakpoint($point: 3) {
              margin-bottom: $spacing-lg;
            }
          }
          a {
            text-decoration: none;
            color: inherit;
            padding: 0.75rem 1.25rem;
            border-radius: $borderRadius;
            transition: 0.3s ease all;

            &:hover {
              background: rgba($light, 0.1);
            }
            &:active {
              border-radius: calc(#{$borderRadius} + 6px);
              background: linear-gradient(rgba($light, 0.1), rgba($light, 0.2));
            }
          }
        }
      }

      &.isMenu {
        transform: translate(100%);
      }
    }

    &__toggle {
      cursor: pointer;
      display: none;
      align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;
      position: relative;
      &:hover {
        color: $primary;
      }

      @include breakpoint($point: 3) {
        display: flex;
      }
    }
  }
}
